**/nbproject/private/

.gradle
# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
lib/jME3*
**/bin/

.project
.classpath
.settings

**/gen/

**/Thumbs.db
local.properties

**/*.dylib
/build/

.gradle
# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
lib/jME3*
**/bin/

.project
.classpath
.settings

**/gen/

**/Thumbs.db
local.properties

**/*.dylib
/build/
*.log
/.nb-gradle/private/
*.dll
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

